@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Exo 2", sans-serif;
}

:root {
  --white: #ffffff;
  
  --grey: #808080;
  --gold: #ffd700;
  --red: #dc3545;
  --black: #000;
}

body,html {
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  overflow-x: hidden;
  background-color: var(--black);
  color: var(--white);
}


.app {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  font-family: Arial, sans-serif;
}

h1 {
  text-align: center;
  margin-bottom: 30px;
  color: var(--gold);
}

h1 .list-icon {
  font-size: 1.2rem;
  margin-left: 10px;
}

.add-task {
  display: flex;
  margin-bottom: 10px;
}

.add-task input {
  flex: 1;
  padding: 8px;
  font-size: 16px;
  border-radius: 10px 0px 0px 10px;
  border: none;
  outline: none;

}

.add-task button {
  padding: 8px 15px;
  background-color: #ffff00;
  color: var(--black);
  border: none;
  cursor: pointer;
  font-size: 16px;
  border-radius: 0 10px 10px 0px;
}

.task-list {
  list-style: none;
  padding: 0;
}

.task-list li {
  margin-bottom: 5px;
}

.task-list li.completed {
  text-decoration: line-through;
  color: #999;
}

.task-list li span {
  cursor: pointer;
}

.task-list li button {
  background-color: var(--red);
  color: var(--white);
  border: none;
  cursor: pointer;
  padding: 5px 10px;
  margin-left: 10px;
  border-radius: 10px;
}
